img {
	position: absolute;
	top: 25%;
	left: 75.7%;
	background-color:black;
	border-radius:70%;
	padding:10px;

}

.TextWrap {
	float: right;
	margin: left 10px;
	margin-right: 10px;
}
footer{
	text-align: center;
}
.Natalie{
	text-align: center;
	position: relative;
	font-size: 25px;
	left: 35%;
	width: 30%;	
}
.description{
	text-align:left;
	position: relative;
	font-size:25px ;
	padding: 100px;
	border-radius: 2%;
	background-color:#212529;
	color: white;

}
h2{
	text-align: left;
	color:white;
}
h3{
	text-align: center;
	color:green;
}
label{
	
	color:yellow;

}
input {
	width: 120px;
	height: 40px;
	font-size: 23px;
	
}
button{
	font-size: 25px;
	width: 120px;
}
#output {
    font-size:1.8em;
    border:2px solid white;
    text-shadow: 2px 2px 4px #000000;
}
/* #myForm{
	color: red;
} */
.form{
	color: green;
}
#m{
	color: yellow;
}
p1{
	color: tomato;
}
p2{
	color: yellow;
}
p3{
	color: green;
}
p4{
	color:green;
}


