img {
	position: absolute;
	top: 25%;
	left: 70%;
	background-color: white;

}

.TextWrap {
	float: right;
	margin: left 10px;
	margin-right: 10px;
}
footer{
	text-align: center;
}
.keyin{
	text-align: center;
	position: relative;
	font-size: 25px;
	left: 35%;
	width: 30%;	
}
label{
	padding: 5px;
	color: rgb(9, 17, 1);
}
input {
	width: 120px;
	height: 40px;
	font-size: 23px;
}
button{
	font-size: 25px;
	width: 120px
}
#output {
    font-size:1.8em;
    border:2px solid white;
    text-shadow: 2px 2px 4px #000000;
}




